@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
.board {
    display: flex;
  }
  
  .column {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  
  .task {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  